#barre-centrale a{
    display: block ;
    background:linear-gradient(to right,#0da1ce,#c7d8df);
    color: white ;
    line-height: 1em ;
    text-align: center ;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 12px 10px;
    width: 100%;
}

.titre{
color:white;
text-shadow: 2px 2px 3px black;
}

#barre-centrale a:hover, #barre-centrale a:active, #barre-centrale a:focus{
    color: white;
    text-decoration: underline;
}

.isen{
    width: 300px;
    height:100px;
    display: flex;
    justify-content: center;
}

.atrium{
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
}
.bloc_gauche{
background-image: radial-gradient(circle at center,rgba(30, 237, 252, 0.7), rgba(0, 140, 255, 0.8));
color: black;
border-left: none;
border-radius:15px;
justify-content: center;
text-decoration: none;
padding: 10px;
margin: 5px;
font-size: 130%;
box-shadow: 5px 5px 5px black;
}   

.bloc_gauche a{
text-align: justify;
text-decoration: none;
}

h1{
color: black;
text-decoration: underline;
text-align: center;
}

.bloc_gauche_actuel{
background-image: radial-gradient(circle at center,rgba(30, 252, 196, 0.7), rgba(0, 247, 255, 0.8));
color: white;
border-left: none;
border-radius:15px;
margin: 5px;
font-size: 140%;
padding: 10px;
}

.bloc_gauche_actuel a{
text-align: justify;
text-decoration: none;
color: white;
}

.bloc_gauche:hover{
background-image: radial-gradient(circle at center,rgba(30, 126, 252, 0.7), rgba(119, 0, 255, 0.8));
font-size: 140%;
}

.bloc_gauche:hover a{
    color:white;
}

a:hover {
    text-decoration: underline;
}

#barre-centrale  {
    display: block ;
    color: white ;
    line-height: 1em ;
    text-align: center ;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 12px 10px;
    width: 100%;
}

#barre-centrale:hover, #barre-centrale:active, #barre-centrale:focus{
    color: white;
    text-decoration: underline;
}

.contener_gauche{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.contener_type_épreuve{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bloc_type_épreuve{
    margin: 5px;
    color:black;
    text-align: center justify;
    text-decoration: none;
}

.bloc_type_épreuve:hover{
    color:blue;
}

.top a{
    color:black;
    text-decoration: none;
}

.top a :hover,.top a :focus,.top a :active {
    text-decoration: underline;

}
footer{
    text-align: center;
    background-color: black;
    color: white;
    line-height: 2;
}

body
{
    background-image: url("Fond3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.contener_centre_matières{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.slideshow {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: 3px solid #F2F2F2;
    position: center;
  }
  
  .slideshow ul {
     /* 4 images donc 4 x 100% */
    width: 300%;
    height: 300px;
    padding:0; margin:0;
    list-style: none;
  }
  
  .slideshow li {
    float: left;
  }