
*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
}

.menu-bar{
    background: rgb(92, 92, 238);
    text-align:center;
    position: relative;
    z-index: 2;
}
.menu-bar ul {
    display: flex;
    list-style: none;
    color:white;
}
.menu-bar ul li{
    width: 250px; 
    margin: 15px;
    padding:15px;

}
.menu-bar ul li a {
    color: white; 
    text-decoration: none;
}
.menu-bar ul li:hover, .menu-bar ul li:focus{
    text-decoration: underline;
    background:blue;
    border-radius: 3px;
}
.menu-bar .fa{
    margin-right: 7px;
}
.sub-menu1{
    display:none;
}
.menu-bar ul li:hover .sub-menu1{
    display: block;
    position: absolute;
    background:rgb(92, 92, 238);
    margin-top: 15px;
    text-decoration: none;

}
.menu-bar ul li:hover .sub-menu1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 5px;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu1 ul li: last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu1 ul li a:hover{
    color: white;
}
.titre{
color:white;
text-shadow: 2px 2px 3px black;
}

.image-accueil{
    position: relative;
    z-index: 1;
}

h1{
    font-size: 2em;
    color:#f8f8f8;
    font-family: impact, fantasy;
    text-align: center;
    text-decoration: underline;
    text-shadow: rgb(92, 92, 238) 2px 4px;
}

.isen{
    width: 300px;
    height:100px;
    display: flex;
    justify-content: center;
}

.atrium{
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
}
.bloc_gauche{
background-image: radial-gradient(circle at center,rgba(255, 255, 255, 0.8),rgb(92, 92, 238));
color: black;
border-left: none;
border-radius:15px;
justify-content: center;
text-decoration: none;
padding: 15px;
margin: 5px;
font-size: 130%;
box-shadow: 5px 5px 5px black;
}   

.bloc_gauche a{
text-align: justify;
text-decoration: none;
}

h1{
color: black;
text-decoration: underline;
text-align: center;
}

.bloc_gauche_actuel{
background-color: rgb(92, 92, 238);
color: white;
border-left: none;
border-radius:15px;
margin: 5px;
font-size: 140%;
padding: 10px;
}

.bloc_gauche_actuel a{
text-align: justify;
text-decoration: none;
color: white;
}

.bloc_gauche:hover{
background-image: radial-gradient(circle at center,rgba(30, 126, 252, 0.7), rgba(119, 0, 255, 0.8));
font-size: 140%;
padding:20px;
}

.bloc_gauche:hover a{
    color:white;
}

a:hover {
    text-decoration: underline;
}

.contener_gauche{
    float: left;
    align-items: flex-start;
    width: 200px;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.contener_gauche a {
    display: block ;
    text-align: center ;
    text-decoration: none ;
    padding: 4px 0 ;
    line-height: 1em ;
}

.contener_type_épreuve{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin: auto;
    width: 70%;
    padding-left:  30px;
    padding-right: 30px;
    padding-top: 100px;
    padding-bottom:450px;
    
}

.centre{
    display:flex;
    justify-content: center;
}

.bloc_type_épreuve{
    margin: 25px;
    padding-top: 60px;
    padding-bottom: 80px;
    height: 50px;
    width: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 7px;
    background-image: url("img/feuille.png");
}

.bloc_type_épreuve a{
color: black;
text-decoration: none;
font-size: 150%;
text-align: justify;
}


.bloc_type_épreuve a:hover{
text-decoration: underline;
}

.top a{
    color: white;
    text-decoration: underline;
}


footer{
    text-align: center;
    background-image: url(img/atrium3.png);
    height: 120px;
    color:white;
    line-height: 2;
}

body
{
    background-image: url("img/fondbois.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.slideshow {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: 3px solid #F2F2F2; 
  }
  
  .slideshow ul {
     /* 4 images donc 4 x 100% */
    width: 300%;
    height: 300px;
    padding:0; margin:0;
    list-style: none;
  }
  
  .slideshow li {
    float: left;
  }

.bloc_année a{
    color: white;
    font-size: 175%;
}

.bloc_année{
    margin:20px;
}

.bloc_année a:hover{
    color:blue;
}

.contener_années {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;  
    text-align: center;
    width: 83%;
    margin: 0px;
    padding-top: 100px;
    padding-bottom:550px;
    flex-wrap: nowrap;
    /*list-style: none;*/
}
