#barre-centrale  {
    display: block ;
    background: rgb(92, 46, 4) ;
    color: #fff ;
    line-height: 1em ;
    text-align: center ;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 12px 10px;
    width: 100%;
}


.bloc_gauche{
background-color: rgba(39, 172, 182, 0.6);
color: black;
border-left: none;
border-radius:5px;
width: 150px;
height: 100px;
text-align: center justify;
justify-content: center;
text-decoration: none;
}

h1{
color: black;
text-decoration: underline;
text-align: center;

}
.bloc_gauche_actuel{
background-color: rgba(41, 149, 211, 0.6);
color: white;
border-left: none;
border-radius:5px;
text-decoration: none;
}

.bloc_gauche:hover{
background-color: blueviolet;
color:white;
}

a:hover {
    text-decoration: underline;
}

nav a :hover {
    text-decoration: underline;
    color: white;
}

.contener_gauche{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.contener_type_épreuve{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bloc_type_épreuve{
    margin: 5px;
    color:black;
    text-align: center justify;
    text-decoration: none;
}

.bloc_type_épreuve:hover{
    color:blue;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    line-height: 2;
  }